absl-py==1.4.0
acres==0.3.0
aenum==3.1.15
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiolimiter==1.2.1
aiosignal==1.3.2
alembic==1.15.1
altair==5.5.0
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.3.0
autograd==1.6.2
autoray==0.6.9
AWRS==2019.8.14.1152
babel==2.16.0
banal==1.0.6
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
comm==0.2.2
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
dataset==1.6.2
debugpy==1.8.7
decorator==4.4.2
deepgram-sdk==2.12.0
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.7
distro==1.9.0
docopt==0.6.2
etelemetry==0.3.1
exceptiongroup==1.2.2
executing==2.0.1
fastapi==0.104.0
fastjsonschema==2.20.0
filelock==3.17.0
fitz==0.0.1.dev2
Flask==3.1.0
flatbuffers==23.5.26
folktales==2018.5.3.245
fonttools==4.54.1
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.12.0
future==1.0.0
gast==0.5.4
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.23.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-generativeai==0.8.4
google-images-download==2.8.0
google-pasta==0.2.0
googleapis-common-protos==1.68.0
greenlet==3.1.1
grpc-utils==1.0.0
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
h5py==3.9.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.27.1
idna==3.10
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.23.0
ipywidgets==8.1.2
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.10
keras==2.14.0
kiwisolver==1.4.7
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-openai==0.3.0
langchain-text-splitters==0.3.5
langsmith==0.2.10
libclang==16.0.6
looseversion==1.3.0
lxml==4.9.4
Mako==1.3.9
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.25.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
matrix-client==0.4.0
mdurl==0.1.2
megaparsex==2018.2.12.2333
mistune==3.0.2
ml-dtypes==0.2.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
narwhals==1.22.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nibabel==5.3.2
nipype==1.9.2
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
openai==1.59.6
opt-einsum==3.3.0
orjson==3.10.14
ortools==9.6.2534
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
patsy==1.0.1
pbr==6.0.0
PennyLane==0.35.0
PennyLane_Lightning==0.35.0
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
plivo==4.32.0
ply==3.11
prometheus_client==0.21.0
prompt-toolkit==3.0.43
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
prov==2.0.1
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
puremagic==1.28
pyarrow==18.1.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.22
pydantic==2.4.2
pydantic-settings==2.7.1
pydantic_core==2.10.1
pydeck==0.9.1
pydot==3.0.4
pydub==0.25.1
pyfiglet==1.0.2
Pygments==2.19.1
PyJWT==2.10.1
PyMuPDF==1.25.5
pyparsing==3.2.0
PyPDF2==3.0.1
pyprel==2018.9.14.1501
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-http-client==3.3.7
python-json-logger==2.0.7
python-multipart==0.0.20
pytz==2024.2
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==26.2.0
qiskit==1.0.0
qiskit-terra==0.45.0
rdflib==6.3.2
referencing==0.35.1
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
rustworkx==0.14.2
safetensors==0.5.2
scalar==2018.9.10.2016
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
selenium==4.19.0
semantic-version==2.10.0
Send2Trash==1.8.3
sendgrid==6.11.0
sentence-transformers==3.4.0
shijian==2023.10.19.215
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.13.0
SQLAlchemy==1.4.54
stack-data==0.6.3
starkbank-ecdsa==2.2.0
starlette==0.27.0
statsmodels==0.14.4
stevedore==5.1.0
streamlit==1.41.1
symengine==0.11.0
sympy==1.13.1
technicolor==2017.1.16.1544
tenacity==9.0.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
termcolor==2.3.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.3.0
tk==0.1.0
tokenizers==0.21.0
toml==0.10.2
torch==2.5.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
transformers==4.48.1
trio==0.25.0
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
uv==0.6.12
uvicorn==0.23.2
voyageai==0.3.2
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wget==3.2
widgetsnbextension==4.0.10
wordcloud==1.9.4
wrapt==1.14.1
wsproto==1.2.0
yarl==1.18.3
absl-py==1.4.0
acres==0.3.0
aenum==3.1.15
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiolimiter==1.2.1
aiosignal==1.3.2
alembic==1.15.1
altair==5.5.0
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.3.0
autograd==1.6.2
autoray==0.6.9
AWRS==2019.8.14.1152
babel==2.16.0
banal==1.0.6
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
comm==0.2.2
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
dataset==1.6.2
debugpy==1.8.7
decorator==4.4.2
deepgram-sdk==2.12.0
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.7
distro==1.9.0
docopt==0.6.2
etelemetry==0.3.1
exceptiongroup==1.2.2
executing==2.0.1
fastapi==0.104.0
fastjsonschema==2.20.0
filelock==3.17.0
fitz==0.0.1.dev2
Flask==3.1.0
flatbuffers==23.5.26
folktales==2018.5.3.245
fonttools==4.54.1
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.12.0
future==1.0.0
gast==0.5.4
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.23.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-generativeai==0.8.4
google-images-download==2.8.0
google-pasta==0.2.0
googleapis-common-protos==1.68.0
greenlet==3.1.1
grpc-utils==1.0.0
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
h5py==3.9.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.27.1
idna==3.10
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.23.0
ipywidgets==8.1.2
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.10
keras==2.14.0
kiwisolver==1.4.7
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-openai==0.3.0
langchain-text-splitters==0.3.5
langsmith==0.2.10
libclang==16.0.6
looseversion==1.3.0
lxml==4.9.4
Mako==1.3.9
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.25.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
matrix-client==0.4.0
mdurl==0.1.2
megaparsex==2018.2.12.2333
mistune==3.0.2
ml-dtypes==0.2.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
narwhals==1.22.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nibabel==5.3.2
nipype==1.9.2
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
openai==1.59.6
opt-einsum==3.3.0
orjson==3.10.14
ortools==9.6.2534
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
patsy==1.0.1
pbr==6.0.0
PennyLane==0.35.0
PennyLane_Lightning==0.35.0
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
plivo==4.32.0
ply==3.11
prometheus_client==0.21.0
prompt-toolkit==3.0.43
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
prov==2.0.1
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
puremagic==1.28
pyarrow==18.1.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.22
pydantic==2.4.2
pydantic-settings==2.7.1
pydantic_core==2.10.1
pydeck==0.9.1
pydot==3.0.4
pydub==0.25.1
pyfiglet==1.0.2
Pygments==2.19.1
PyJWT==2.10.1
PyMuPDF==1.25.5
pyparsing==3.2.0
PyPDF2==3.0.1
pyprel==2018.9.14.1501
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-http-client==3.3.7
python-json-logger==2.0.7
python-multipart==0.0.20
pytz==2024.2
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==26.2.0
qiskit==1.0.0
qiskit-terra==0.45.0
rdflib==6.3.2
referencing==0.35.1
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
rustworkx==0.14.2
safetensors==0.5.2
scalar==2018.9.10.2016
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
selenium==4.19.0
semantic-version==2.10.0
Send2Trash==1.8.3
sendgrid==6.11.0
sentence-transformers==3.4.0
shijian==2023.10.19.215
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.13.0
SQLAlchemy==1.4.54
stack-data==0.6.3
starkbank-ecdsa==2.2.0
starlette==0.27.0
statsmodels==0.14.4
stevedore==5.1.0
streamlit==1.41.1
symengine==0.11.0
sympy==1.13.1
technicolor==2017.1.16.1544
tenacity==9.0.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
termcolor==2.3.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.3.0
tk==0.1.0
tokenizers==0.21.0
toml==0.10.2
torch==2.5.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==7.0.2
transformers==4.48.1
trio==0.25.0
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
uv==0.6.12
uvicorn==0.23.2
voyageai==0.3.2
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wget==3.2
widgetsnbextension==4.0.10
wordcloud==1.9.4
wrapt==1.14.1
wsproto==1.2.0
yarl==1.18.3
